{% extends 'layout/base.twig' %} 
{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/assets/home.css">
{% endblock %}

{% block content %}
		<main>
			<section class="banner">
				<div class="highlight">
					<div class="columns is-marginless">
						<div class="column highlight-item" style="background-image : url({{ highlight.url }});"> <!--เขียนสไตล์ลงไปจะเหมือน thumbnail-->
							<h1>{{ highlight.title }}</h1> <!--ใส่ข้อความเสยๆ-->
					</div>
				</div>
				
				<div class="thumbnail">
					<div class="columns is-marginless">
						{% for item in thumbnail %}
							<div class="column thumbnail-item is-paddingless" style="background-image: url({{ item.url }});">
								{{ item.title }}
							</div>
						{% endfor %}
					</div>
				</div>
			</section> 

			<section class="section we-present">
				<div class="container">
					<div class="columns">
						<div class="column has-text-left">
							<a href="#">Lastet</a>
						</div>
						<div class="column has-text-centered">
							We Present
						</div>
						<div class="column has-text-right">
							<a href="#">Search</a>
						</div>
					</div>
						<div class="columns is-multiline">
							<a href="#" class="column is-one-third">
								<div class="card">
									<div class="card-image">
										<figure class="image is-3by2">
											<img src="assets/images/home/we-preset/img-1.jpg" alt="images-1">
										</figure>
									</div>
								<div class="card-content">
									<h5 class="category">1.1.60</h5>
									<h3 class="title is-space is-4"> Hello Elehpahat</h3>
									<h4 class="subtitle is-6"> เรื่องนี้ริวจะไม่ยุ่ง</h4>
									<p> oaefjhwepokvleqfjeiwghnmewgoijeik</p>
								</div>
								</div>
							</a>

							<a href="#" class="column is-one-third">
								<div class="card">
									<div class="card-image">
										<figure class="image is-3by2">
											<img src="assets/images/home/we-preset/img-2.jpg" alt="images-1">
										</figure>
									</div>
								<div class="card-content">
									<h5 class="category">2.2.60</h5>
									<h3 class="title is-space is-4"> Hello Unicorn</h3>
									<h4 class="subtitle is-6"> เรื่องนี้ริวจะไม่ยุ่ง</h4>
									<p> oaefjhwepokvleqfjeiwghnmewgoijeik</p>
								</div>
								</div>
							</a>

							<a href="#" class="column is-one-third">
								<div class="card">
									<div class="card-image">
										<figure class="image is-3by2">
											<img src="assets/images/home/we-preset/img-3.jpg" alt="images-1">
										</figure>
									</div>
								<div class="card-content">
									<h5 class="category">3.3.60</h5>
									<h3 class="title is-space is-4"> Hello Pig</h3>
									<h4 class="subtitle is-6"> เรื่องนี้ริวจะไม่ยุ่ง</h4>
									<p> oaefjhwepokvleqfjeiwghnmewgoijeik</p>
								</div>
								</div>
							</a>

							<a href="#" class="column is-one-third">
								<div class="card">
									<div class="card-image">
										<figure class="image is-3by2">
											<img src="assets/images/home/we-preset/img-4.jpg" alt="images-1">
										</figure>
									</div>
								<div class="card-content">
									<h5 class="category">4.4.60</h5>
									<h3 class="title is-space is-4"> Hello Bear</h3>
									<h4 class="subtitle is-6"> เรื่องนี้ริวจะไม่ยุ่ง</h4>
									<p> oaefjhwepokvleqfjeiwghnmewgoijeik</p>
								</div>
								</div>
							</a>

							<a href="#" class="column is-one-third">
								<div class="card">
									<div class="card-image">
										<figure class="image is-3by2">
											<img src="assets/images/home/we-preset/img-5.jpg" alt="images-1">
										</figure>
									</div>
								<div class="card-content">
									<h5 class="category">5.5.60</h5>
									<h3 class="title is-space is-4"> Hello Cat</h3>
									<h4 class="subtitle is-6"> เรื่องนี้ริวจะไม่ยุ่ง</h4>
									<p> oaefjhwepokvleqfjeiwghnmewgoijeik</p>
								</div>
								</div>
							</a>

							<a href="#" class="column is-one-third">
								<div class="card">
									<div class="card-image">
										<figure class="image is-3by2">
											<img src="assets/images/home/we-preset/img-6.jpg" alt="images-1">
										</figure>
									</div>
								<div class="card-content">
									<h5 class="category">6.6.60</h5>
									<h3 class="title is-space is-4"> Hello Dog</h3>
									<h4 class="subtitle is-6"> เรื่องนี้ริวจะไม่ยุ่ง</h4>
									<p> oaefjhwepokvleqfjeiwghnmewgoijeik</p>
								</div>
								</div>
							</a>
						</div>
				</div>
			</section>
		</main> 
{% endblock %}